<div class="container-fluid">
    <h1>Ahp metoda</h1>
    <p>
        Na tej strani je izvedena ahp metoda.<br>
        Rezultati metode so vidni na koncu strani.
    </p>
    <h3>Izbrana podjetja</h3>
    <!--display selected companies for analysis-->
    
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Ime podjetja</th>
                    <th>Prihodek ($M)</th>
                    <th>Dobiček ($M)</th>
                    <th>Sredstva ($M)</th>
                    <th>Št. zaposlenih</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let company of companies">
                    <td>{{ company.rank }}</td>
                    <td>{{ company.ime }}</td>
                    <td>{{ company.prihodek }}</td>
                    <td>{{ company.dobicek }}</td>
                    <td>{{ company.sredstva }}</td>
                    <td>{{ company.stZaposlenih }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3>Določite ustrezne parametre</h3>
    <!--display selected companies for analysis-->
    <p>
        Določite parametre za ahp metodo in <strong>pazite na konsistentnost</strong>.<br>
        Vrednosti <strong>na diagonali morajo biti enake 1</strong>, <strong>ostale pa med 1-9 in obratno 1/1-1/9</strong>.
    </p>

    <!--user inputed values for alternatives-->
    <h4>Parametri za alternative</h4>
    <div *ngFor="let header of getHeaders()" class="table-responsive">
        <p>Tabela za: <strong>{{header}}</strong></p>
        <table>
          <!-- Header Row: Display company names as column headers -->
          <tr>
            <th></th> <!-- Empty cell for the row header -->
            <th *ngFor="let companyName of getCompanyNames()">
              {{ companyName }}
            </th>
          </tr>
      
          <!-- Data Rows: Display company names in row headers and input fields inside the matrix -->
          <tr *ngFor="let company of companies; let rowIndex = index">
            <th>{{ company.ime }}</th> <!-- Company Name in the first column -->
      
            <!-- Loop through each company for columns in the same row -->
            <td *ngFor="let companyValues of getCompanyNames(); let colIndex = index">
              <!-- Input field for user to input values -->
              <input
                type="text"
                [(ngModel)]="alternativesValues[header][rowIndex][colIndex]"
                (input)="updateCellValue(header, rowIndex, colIndex, alternativesValues[header][rowIndex][colIndex])"
              />
            </td>
          </tr>
        </table>
    </div>

    <!--user inputed values for criteria-->
    <h4>Parametri za kriterije</h4>
    <div class="table-responsive">
        <table>
          <!-- Header Row: Display company names as column headers -->
          <tr>
            <th></th> <!-- Empty cell for the row header -->
            <th *ngFor="let headerName of getHeaders()">
              {{ headerName }}
            </th>
          </tr>
      
          <!-- Data Rows: Display company names in row headers and input fields inside the matrix -->
          <tr *ngFor="let headerName of getHeaders(); let rowIndex = index">
            <th>{{ headerName }}</th> <!-- Company Name in the first column -->
      
            <!-- Loop through each company for columns in the same row -->
            <td *ngFor="let companyValues of getHeaders(); let colIndex = index">
              <!-- Input field for user to input values -->
              <input
                type="text"
                [(ngModel)]="PCcriteriaValues[rowIndex][colIndex]"
              />
            </td>
          </tr>
        </table>
    </div>
      
    <button class="btn btn-primary" (click)="onSubmit()">Naprej</button>

    <div class="table-responsive" *ngIf="this.finalResults.length > 0;">
      <h3>Rezultati</h3>
      <p>
          V tabeli so prikazani rezultati ahp metode.<br>
          <strong>Najvišja ahp ocena</strong> predstavlja <strong>najboljšo izbiro</strong>.
      </p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Ime podjetja</th>
            <th>Ahp ocena</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of finalResults">
            <td>{{ result.ime }}</td>
            <td [ngClass]="{ 'highlight': result.ahpOcena === maxAhpOcena }">
              {{ result.ahpOcena }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
      
</div>
